/*afecta a todo*/
* {box-sizing: border-box;}

/*Html*/
html {
  scroll-behavior: smooth;
  background-size: cover;
  background-repeat: no-repeat;
}

/******************Tipografías****************/

/*Para parrafos y botones*/

@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 1000;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoItalic';
    src: url('../assets/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 1000;
    font-style: italic;
}

/*Para títulos*/

@font-face {
    font-family: 'PlayRegular';
    src: url('../assets/fonts/Play-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PlayBold';
    src: url('../assets/fonts/Play-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/************************************************/

/*Paleta de Colores*/
:root {
  --color-primary: #350305;
  --color-secondary: rgba(142, 71, 129);
  --color-accent: #161616;
  --color-text: #faf1f2;
  --color-bg: rgba(163, 10, 14, 0.8);

  --play-regular: 'PlayRegular', sans-serif;
  --play-bold: 'PlayBold', sans-serif;

  --nunito: 'Nunito', sans-serif;
}


/*body*/

body {
  margin: 0;
}

.container {

  width: 100%;
  height: auto; 
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
  
}

P{
  font-family: var(--nunito);
  color: var(--color-text);
}

 


