/*afecta a todo*/
* {box-sizing: border-box;}

/*Html*/
html {
  scroll-behavior: smooth;
  background-image: url(img/berry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/******************Tipografías****************/

/*Para parrafos y botones*/

@font-face {
    font-family: 'Nunito';
    src: url('../assets/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 1000;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../assets/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 1000;
    font-style: italic;
}

/*Para títulos*/

@font-face {
    font-family: 'ZenDots';
    src: url('../assets/ZenDots-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/************************************************/

/*Paleta de Colores*/
:root {
  --color-primary: #350305;
  --color-secondary: #7d2150;
  --color-accent: #161616;
  --color-background: #faf1f2;
  --color-text: #A30A0E;
}


/*body*/

body {
  margin: 0;
}

.container {
  width: 100%;
  height: auto; 
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
  background-color: white;
}

 


